<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Lista de la compra</title>
</head>
<body>
<ion-header>
  <ion-navbar>
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" fullscreen class="ion-padding" scroll-y="true">
  <ion-slides pager="true" direction="horizontal">
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="light">Productos por comprar</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row no-padding>
              <ion-col col-4 *ngFor="let producto of nocomprados index as i;">
                <img src="{{producto.img}}" class="no-comprado"
                     (click)="seleccionarCompra(i, nocomprados, comprados)">
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-card>
          <ion-card-header>
            <ion-card-title color="light">Productos comprados</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-row no-padding>
              <ion-col col-4 *ngFor="let prod of comprados index as i;">
                <img class="item" src="{{prod.img}}" class="comprado"
                     (click)="seleccionarCompra(i, comprados, nocomprados)">
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>
</body>
</html>
